R2_ACCOUNT_ID=tu_account_id
R2_ACCESS_KEY_ID=tu_access_key_id
R2_SECRET_ACCESS_KEY=tu_secret_access_key
R2_PUBLIC_BUCKET_NAME=dra-estefany-public-media
R2_PRIVATE_BUCKET_NAME=dra-estefany-private-media
